

## ignore .env
.env
eval_commands/__pycache__/
wandb/
data/
!data/evals
!data/evals_no_chat_template

*/__pycache__
eval_commands/test.py

openr1/
.venv/

*__pycache__

models_in_fp16/
.cache/
openr1_clone/
openr1_v2/
openr1_v3/

.vscode/

git_login.sh
hacky_helpers/
fisher_testbed/datasets/